<!DOCTYPE html>
<html>
<head>
	<title>TRT Schedule</title>
	<style>
	th, td {
		padding: 8px;
		text-align: left;
	}
	tr:nth-child(even) {
		background-color: #e5e5e5;
	}
	table {
		border: 1px solid black;
	}
	</style>
</head>
<body>
<h1>TRT Probably Functional Schedule Listing</h1>
<p>This is the schedule page for Touhou Replay Theater, hosted every <strike>Sunday 7PM PST</strike> whenever at <a href="https://www.twitch.tv/touhou_replay_theater">TRT</a>.</p>

<p>
	{{#if archive}}
		You are viewing archived theaters. <a href="/schedule">View upcoming theaters.</a>
	{{else}}
		You are viewing upcoming theaters. <a href="/schedule?archive=1">View archived theaters.</a>
	{{/if}}
</p>

{{#each theaters}}
<h3>#{{this.id}}: {{this.title}} - {{this.datetext}}</h3>
{{#if archive}}{{this.vod}}<br>{{/if}}{{this.desc}}<br>
<table>
	<thead>
		<tr>
			<th>User</th>
			<th>Run Info</th>
			<th>Notes</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		{{#each this.replays}}
		<tr>
			<td>{{this.user}}</td>
			<td>{{this.game}}</td>
			<td>{{this.notes}}</td>
			<td><a href="{{this.url}}">{{this.url}}</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/each}}
</body>
</html>